body {
  // background: #d0e1ff
  // background-image: linear-gradient(0.25 turn, #d0e1ff, #ffecec, #d0e1ff)
  // background: linear-gradient(to right, #d0e1ff,10%, #ffecec, #ffecec, 10%, #d0e1ff);
  background: linear-gradient(90deg, #d0e1ff, white, #f7cac9);

}



#main-content {
  margin: 5em;
  margin-top: 10em;
  font-family: 'Zen Kaku Gothic Antique';
}

.float{

	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:#92a8d1;
	color:#FFF;
	border-radius:50px;
  border: none;
	text-align:center;

}

.float:hover {

  box-shadow: 2px 2px #252e41;
  color:#FFF;

}

#actual-quiz {
	font-family: 'Zen Kaku Gothic Antique';

}
