#page-header__user-links {
  color: #FFFFFF;
  background-color: #f7cac9;
  height: 120px;
  display: flex;
  justify-content: space-between;
  z-index: 100;
  position: fixed;
  top: 0;
  width: 100%;
  margin-bottom: 10em;
}

.sign-up_button {
  color: #FFFFFF;
  background-color: #92a8d1;
  font-family: 'Zen Kaku Gothic Antique';
}

.login_button {
  color: #FFFFFF;
  background-color: #92a8d1;
  font-family: 'Zen Kaku Gothic Antique';
}

.login-signup {
  display: flex;
  flex-direction: center;
  align-self: center;
  margin: 1.5 em;
  padding-right: 50px
}

.create_quiz_button {
  color: #FFFFFF;
  background-color: #92a8d1;
  font-family: 'Zen Kaku Gothic Antique';
}

.my_quizzes_button {
  color: #FFFFFF;
  background-color: #92a8d1;
  font-family: 'Zen Kaku Gothic Antique';
}

.logout_button {
  color: #FFFFFF;
  background-color: #92a8d1;
  margin-right: 1em;
  font-family: 'Zen Kaku Gothic Antique';
}

span.logo {
  font-family: 'Orbitron';
  margin: 1.5 em;
  padding-left: 50px;
  display: flex;
  align-self: center;
  font-size: 3em;
}

.buttons {
  margin-right: 1.5em;
  display: flex;
  flex-direction: column;
  align-self: center;
}

#sign-up-form {
  margin-top: 100px;
}

#login-form {
  margin-top: 150px;
}
// background-color: #69a794;
// background-image: url('/images/arches.png');
// height: 120px;
// display: flex;
// justify-content: space-between;
// padding-left:1.5em;
// padding-right:1.5em;
// color: #FFFFFF;
// position: fixed; /* Set the navbar to fixed position */
// top: 0; /* Position the navbar at the top of the page */
// width: 100%;
